iframe{
    width:100%;
    height:100%;
}
.voffset2 { 
    margin-top: 15px; 
    margin-bottom:30px;

}
.voffset3 { 
    margin-top: 15px; 
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
}
.voffset4 { 
    margin-top: 30px; 
    margin-bottom:30px;
    min-height:200px;
    margin-left:10px;
    margin-right:10px;
}

.image-BG{
    background-image:url(tweed_@2X.png);
}
.image-BGtext {
    background-image:url(halftone.png);
    min-height:100%;
    margin-top:35px;
    border:4px ridge black;
}